/* header */
h3{
    color: rgb(52, 156, 139);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

/* paragraph */
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding:10px;
}

/* body background*/
body{
    background-color: rgba(211, 208, 208, 0.822);
}
.col-md-12{
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom:40px;
}

/* image */
.img-thumbnail{
    padding:10px;
    border: none;
}

/* image border */
.pic{
    border: 3px solid  rgb(52, 156, 139);
}

/* navbar */
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}

.nav-item.dropdown.show {
    background-color: rgba(211, 208, 208, 0.822);
}

.dropdown-menu {
    margin: 0;
}

/* content */
.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white {
    margin-top: 15px;
}

/* adjust for small screens */
@media(max-width:767px){
    .navbar.bg-light{
        background-color: rgb(52, 156, 139);    
    }

    .navbar-collapse{
        background-color: rgba(211, 208, 208, 0.822);
    }
    .navbar{
        padding:inherit;
    }
}